

body {
  background-color: rgb(94, 94, 94);
}

h1 {
  font-size: 80px;
}
p{
  font-size: 40px;
}

.text {
  color: rgb(249, 240, 247);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

button{
    color: rgb(218, 201, 218);
    background-color: rgb(74, 74, 74);
    border-radius: 20%;
    border-color: rgb(84,84,84);
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

a{
  font-size: 60px;
}
.text-center {
  text-align: right;
  size: 60px;
}
.page-go{
  height:60px;
  width:100px;
}