p {
    color: red;
}

/* Additional CSS rules */
body {
  background-color: rgb(94, 94, 94);
}

h1 {
  font-size: 24px;
}

.text {
  color: rgb(249, 240, 247);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

button{
    color: rgb(218, 201, 218);
    background-color: rgb(74, 74, 74);
    border-radius: 20%;
    border-color: rgb(84,84,84);
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    size: 26px;
}